@import "../../styles/core.scss";

.tabbutton-item {
  display: inline-flex;
  height: 34px;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family:$app-font-regular;
  font-size: 14px;
  font-style: normal;
  line-height: 150%; 
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  margin-right: 16px;
  border: 1px solid var(--neutral-neutral-20, #DCDEE6);
  background: #FFF;
  color: #969698;
  font-weight: 500;
  

  &:hover {
    color: #6477F0;
    border: 1px solid #6477F0;
  }

  &.selected {
    background: linear-gradient(180deg, #134CDE 0%, #163FB7 100%, #163FB7 100%);;
    color: #FFF;
    font-weight: 600;
    // border: 1px solid #6477F0;
  }
}
