@import "../../styles/core.scss";

$color_1: #1C1C1C;
$color_2: #545766;
$color_3: #525252;
$color_4: #141519;
$border-color_1: #BBBFCC;

.accordion-title-edit {
	width: 100%;
	height: 3.688rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.accordion-item-edit {
	margin-top: 1.5rem;
	border-radius: 0.5rem;
	width: 100%;
	border: 0.063rem solid;
	border-width: 0.063rem;
	border-color: $border-color_1;
}
.title-name-head-edit {
	font-size: 1.125rem;
	font-weight: 600;
	margin-top: 0.938rem;
	line-height: 1.875rem;
	color: $color_1;
	margin-left: 1rem;
	font-family: $app-font-semi-bold;
}
.dropdown-icon-edit{
	margin-top: 16px;
	margin-right: 20px;
	height: 1.5rem;
	width: 1.5rem;
	color: $color_2;
}
.accordion-content-edit {
	width: 98%;
	justify-content: space-around;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}
.head-edit {
	font-family: $app-font-regular;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: $color_3;
}
.body-edit {
	font-family: $app-font-regular;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
	color: $color_4;
	margin-left: 0.5rem;
}